LLM_MODEL=vertex_ai/gemini-3-flash-preview
GOOGLE_APPLICATION_CREDENTIALS=<path_to_credentials>/application_default_credentials.json
GOOGLE_CLOUD_PROJECT=<project_id>
VERTEXAI_LOCATION=global

# Zerodha KiteConnect Credentials
KITE_API_KEY=your_kite_api_key
KITE_API_SECRET=your_kite_api_secret
KITE_ACCESS_TOKEN=your_kite_access_token

